/*Inserimento font-family da google*/
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/*impostazioni generali*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*body e header*/
body {
  margin: 0;
  background-color: #f4f1ec;
  color: #2b2b2b;
}

body,
header {
  font-family: "Inter", Arial, sans-serif;
}

#site-header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 60px 20px 0px 20px;
  max-height: 300px;
  border-bottom: 4px solid hsl(45, 90%, 60%);
}

/*largezza main*/
main {
  max-width: 920px;
  margin: 0 auto;
  padding: 0px 40px 60px 40px;
}

/*font-family particolari*/
h1,
h2,
h3 {
  font-family: "Playfair Display", Georgia, serif;
  line-height: 1.7;
}
/*nav*/
#site-header nav ul {
  display: inline-block;
  padding: 0 12px;
  margin: 0;
}

nav ul li {
  padding: 0;
  margin: 0px 4px;
  border-radius: 4px;
  vertical-align: center;
  display: inline;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 15px 25px;
  line-height: 1.2;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background-color: hsl(45, 90%, 60%);
  border: hsl(45, 90%, 60%);
}

nav ul li:hover a {
  color: #0f2c52;
}

.intro::first-letter {
  font-family: "Playfair Display", Georgia, serif;
}
/*sottotilo header*/
.tagline {
  color: #f0e7c8;
  font-style: italic;
}
/*elemento prima ogni di h2*/
section h2::before {
  content: "\2756";
  color: hsl(45, 90%, 50%);
}

/*section*/
section {
  border: 1px solid #e6e0d3;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
}

section h2 {
  color: hsl(220, 60%, 25%);
}

/*immagine del profilo*/
.avatar {
  width: 120px;
  height: 120px;
  border: 5px solid hsl(45, 90%, 60%);
  border-radius: 50%;
  float: left;
  margin: 0 20px;
}

/*prima lettera di chi-son*/
.intro::first-letter {
  font-family: "Playfair Display", Georgia, serif;
  color: hsl(220, 60%, 25%);
  font-size: 3rem;
  font-weight: bold;
  float: left;
  margin-right: 6px;
  line-height: 0.5;
}

/*competenze e tabella*/
.comp-title {
  color: hsl(220, 30%, 40%);
  font-style: italic;
}

#f-line{
  text-align: center;
  vertical-align:baseline;
}

.comp-tab{
  color: hsl(220, 60%, 30%);
  text-align: start;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
#table-com th {
  width: 50%;
  border-bottom: 1px solid #ece6d8;
  background-color: #F9F5EA;
}

#table td {
  width: 50%;
  padding: 12px;
  border-bottom: 10px solid red;
}

#table-com th{
  border: 1px solid #ece6d8;
}


#e-tab th{
  color: hsl(220, 60%, 25%);
    border-bottom: 1px solid #ece6d8;
  background-color: #ece6d8 ;
  border-radius: 5px;
}

